html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background:white;

}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
  float: right;
  max-width: 50%;

}
h1 class="site-title"{
  color: yellow;
}

header.site-header{
  border: 5px solid rgb(166, 147, 184);
  width: 60%;
  min-width: -width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px;

}

.content {
  border: 20px 2px solid purple ;
  width: 60%;
  min-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;


}




}
h1.title {
  font-size:3em;
  font-family: serif, palantino;
  float: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: rgb(166, 147, 184);
    margin: 30px;
    font-size: 1.25em;
}

h1.site-header {
font-size: 2.5em;
color: yellow;

}

h1 {
color: grey;
font-family: Chalkduster, fantasy;


}
h2 {
text-align: left;
color:grey;
background: none ;
font-family: Chalkduster, fantasy;
padding: 20px 4px;


}
h3 {
color: rgb(237, 222, 117);


}

img.cover {
/* float:right; */
width:15%;
margin:12px;
position:absolute;
right: 0;
top: 18px;

}

body.recipe {
margin: 0;
background:  rgb(193, 192, 203);


}




blockquote {

}


table {

}

td, th {

}

header.site-header {
  width: 100%;
  text-align: left;
  background:  rgb(194, 138, 162);
  position: fixed;
  top:0;
  left: 0;





}

p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: rgb(237, 222, 117);
    text-decoration:none;
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 12%;
  float:right;
  font-size: 50%;
  position: fixed;
  top:10px;
  right:8px;
  padding: 6px;


}
ul.recipes.a {
color: purple;

}
