html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background:white;

}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
  float: right;
  width: 50%;

}


header.site-header .branding {
  border-bottom: 4px solid rgb(166, 147, 184);
  width: 100%;
  /* min-width: 500px; */
  margin-right: auto;
  margin-left: auto;
  padding: 5px 5px 5px 5px;

position:fixed;
top:0px;
/* bottom: 10px; */
left: 0;
/* right: 100px; */

background: white;
height:60px;
}

.content {
  /* border: 5px solid rgb(166, 147, 184); */
  width: 60%;
  /* min-width: 500px; */
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;


}


h1.title {
  font-size: 2em;
  font-family: Chalkduster, fantasy;
  text-align: left ;
  height: 30px;
  margin-top: 50px;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: rgb(166, 147, 184);
    margin: 30px auto;
    font-size: 1.25em;
max-width: 2000px;
    /* padding-top: 50px; */
}

h1.site-header {
font-size: 2.5em;
color: yellow;

}

h1 {
color: grey;
font-family: Chalkduster, fantasy;
/* margin-top: 20px; */


}
h2 {
text-align: left;
color:grey;
background: none ;
font-family: Chalkduster, fantasy;
padding: 20px 4px;


}
h3 {
color: rgb(237, 222, 117);
background-color: rgb(166,147,184);


}

h1.site-title {
  font-size: 1.2em;
}

img.cover {
float:right;
width:15%;
margin:12px;
/* position:absolute;
right: 0;
top: 18px; */

}

body.recipe {
margin: 0;
/* background:  rgb(193, 192, 203); */


}




blockquote {

}


table {

}

td, th {

}

/* header.site-header {
  width: 50%;
  text-align: left;
  position: static;
  margin: 10px, 30px;
  top:0;
  left: 0;
} */

p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: rgb(237, 222, 117);
    text-decoration:none;
}

/* for a menu for all recipes */
ul.recipes {
  border: 0.1px solid purple ;
  width: 12%;
  /* float:right; */
  font-size: 50%;
  background-color: white;
  position: fixed ;
  top:10px;
  right:8px;
  padding: 6px;


}

nav ul
{
	font-family: "bree-serif",lato, serif;
	/* background: grey; */
 list-style: none;
	text-align: left;
  /* margin-left: 10px;
	margin-right:50px;
  margin-top: 60px;
  margin-bottom: 100px; */
}

ul.recipes.a {
color: purple;

}

@media screen and (max-width: 700px) {



ul.recipes {
  display: none;


}

.site-title {
  font-size: 1.5em;
}


header.site-header.branding {
height:20px;

}

body {
/* padding-top:10px; */
margin: 15px;
font-size: 80%;
}

img {
float: none;
width: 90%;
}

.content {

  width: 100%;
  /* min-width: 500px; */
  /* margin-right: auto;
  margin-left: auto; */
  padding: 50px 0px;


}

img.cover {
  float:none;
  width:70%;
  display: block;
  margin: 0 auto;
}






}
